.App {
  padding-top: 40px;
  text-align: center;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
}

.movieList-item {
  width: 30%;
  margin-bottom: 32px;
}

.page404 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('./assets/img/bg.jpeg');
  background-size: cover;
  background-position: center;
}

.sorry {
  position: absolute;
  top: 55%;
  left: 36px;
  color: #ffffff;
  font-size: 2.5em;
}
